/* =The style for the lab
-------------------------------------------------------------- */
#sidebar {
    width:200px;
    float:right;
}




/* navigation */
nav {
    width:200px;
   
    padding:10 12px;
}

nav.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    margin-top:12px;
}


nav ul {
    
    margin:0;
    padding:0;
}

nav li {

}

nav li a {
    color:rgb(50,50,50);
    font-weight:700;
}

a.nav-active {
    color:#0043ff;
    display:block !important;
}



hr {
    border:none;
    background-color:rgb(220,220,220);
    height:12px;
    margin-bottom:18px;
}
@media only screen and (max-width: 500px) {
    #sidebar {
    display:none !important;
    }
}
